body {
    text-align: center;
    align-items: center;
    background-image:url("imagens/sabesp\ marca\ dagua.png");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
}

/*ALINHAMENTO DA IMAGEM COM A CAIXA DE SELEÇÃO NO CENTRO*/

div#sel_eta {

    display: inline-flex;
    float: inline;

}

div#ImgEta {

    flex: 1;
    margin:10px;

}

div#confModular, div#confTorrezan, div#confOutros {

    align-items: center;
    text-align: center;

}

img {

    text-align: center;
    height: 200px;
    width: 200px;
    border-style: double;
    border-color: black;

}

/*
img#EtaTorrezan, img#EtaModular {

    text-align: center;
    height: 200px;
    width: 200px;
    border-style: double;
    border-color: black;

}*/

h2#h2flocMod, h2#h2DecMod, h2#h2FlocTor, h2#h2DecTor {
    text-align: center;
    color: blue;
}
/*
input#nflocmod, input#nflocdiamod, input#nflochmod {
    background-color: lightblue;
    width: 100px;
}


input#ndecmod, input#ndecdiamod, input#ndechmod {
    background-color: lightblue;
    width: 100px;
}

input#CompFlocTorrezan, input#LargFlocTorrezan, input#AltFlocTorrezan {
    background-color: lightblue;
    width: 100px;
}


input#iNumDecMódulo, input#CompDecTorrezan, input#LargDecTorrezan, input#AltDecTorrezan {
    background-color: lightblue;
    width: 100px;
}
*/

input[type="number"] {
    background-color: lightblue;
    width: 100px;
}


footer {
    text-align: center;
    color: blue;
}

body {
    text-align: center;
}

div#etavol {
    text-align: center;
}

div#etacon {
    text-align: center;
}



input#vazao, input#dosPac, input#dosHIPO, input#dosALC, input#dosFLU {
    background-color: lightblue;
    width: 100px;
}
