body {
    text-align: center;
    align-items: center;
    background-image: url("imagens/sabesp\ marca\ dagua.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/*ALINHAMENTO DA IMAGEM COM A CAIXA DE SELEÇÃO NO CENTRO*/

div#sel_eta {

    display: inline-flex;
    float: inline;

}

div#ImgEta {

    flex: 1;
    margin: 10px;

}

div#confModular,
div#confTorrezan,
div#confOutros {

    align-items: center;
    text-align: center;

}

img {

    text-align: center;
    height: 200px;
    width: 200px;
    border-style: double;
    border-color: black;

}


h2#h2flocMod,
h2#h2DecMod,
h2#h2FlocTor,
h2#h2DecTor {
    text-align: center;
    color: blue;
}

input[type="number"] {
    background-color: lightblue;
    width: 100px;
}


footer {
    text-align: center;
    color: blue;
}

body {
    text-align: center;
}

div#etavol,
div#etacon {
    text-align: center;
}


input#vazao,
input#dosPac,
input#dosHIPO,
input#dosALC,
input#dosFLU {
    background-color: lightblue;
    width: 100px;
}

table.TableDosPac,
table.TableDosHipo,
table.TableDosAlc,
table.TableDosFluor {
    width: 300px;
    border-collapse: collapse;
    background-color: #19e6ff;
    align-items: center;
    margin: auto;
    /* Tabela alinha no meio */
}

table.TableDosPac th,
table.TableDosHipo th,
table.TableDosAlc th,
table.TableDosFluor th {
    border: 1px solid black;

}

tr#Linhas {
    border: 1px solid black;
    background-color: rgba(95, 252, 74, 0.575);
}