body {
    text-align: center;    
}

div#sel_eta {
    align-items: center;
    text-align: center;
}

div#confModular {
    align-items: center;
    text-align: center;
}

h2#h2flocMod {
    text-align: center;
    color: blue;
}

input#nflocmod {
    background-color: lightblue;
    width: 100px;
}

input#nflocdiamod {
    background-color: lightblue;
    width: 100px;
}
input#nflochmod {
    background-color: lightblue;
    width: 100px;
}

h2#h2DecMod {
    text-align: center;
    color: blue;
}

input#ndecmod {
    background-color: lightblue;
    width: 100px;
}

input#ndecdiamod {
    background-color: lightblue;
    width: 100px;
}
input#ndechmod {
    background-color: lightblue;
    width: 100px;
}


div#confTorrezan {
    align-items: center;
    text-align: center;
}

div#confOutros {
    align-items: center;
    text-align: center;
}

footer {
    text-align: center;
    color: blue;
}

body {
    text-align: center;
}

div#etavol {
    text-align: center;
}

div#etacon {
    text-align: center;
}



input#vazao {
    background-color: lightblue;
    width: 100px;
}

input#dosPAC {
    background-color: lightblue;
    width: 100px;
}

input#dosHIPO {
    background-color: lightblue;
    width: 100px;
}

input#dosALC {
    background-color: lightblue;
    width: 100px;
}

input#dosFLU {
    background-color: lightblue;
    width: 100px;
}